:root {
  --COLOR-WHITE: #ffff;
  --COLOR-INPUT: #ffffffc7;

  --COLOR-BLUE: #78cffd;
  --COLOR-BLUE-DISABLED: #78cffd87;
  --COLOR-LABEL: #3094e0;

  --COLOR-BLUE-DARK: #0a0057;

  --COLOR-TEXT: #000002;
  --COLOR-SHADOW: #00000029;
}
